/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}
  
header{
    background:#92E0E5;
    color:white;
    height: 50px;
    padding: 0 25px;
}
navbar nav ul li{
    display: inline-block;
    margin:17px 10px;
    cursor: pointer;
    font-size: 20px;
}
header navbar{
    float: right;

}
header h1{
    float:left;
    text-indent: -9999px;
    object-fit: contain;
    background: url(./images/page-logo.jfif) no-repeat;
    background-size: 35px 35px;
    height:35px;
    width:35px;
    margin-top:8px;
}
#hero{
    background:url(./images/background\ image.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}
#hero img{
    display: block;
    margin:auto;
    border-radius: 50%;
    border:5px solid #3F8DA7;
    margin-bottom: 25px;

}
#hero h2{
    font-size: 30px;
    margin-bottom: 25px;
}

.btn{
    background: white;
    border: 5px solid #3F8DA7;
    color: #3F8DA7;
    padding: 5px 10px;
    text-decoration: none;
  }
  .btn:hover {
    padding: 5px 10px;
    background: #3F8DA7;
    color:white;
  }
  .three-col{
      display: inline-block;
      width: 30%;
      text-align: center;
      vertical-align: top;
      margin:0px 10px ;
  }  
  .image{
    border-radius:50%;
    border: 3px solid #3F8DA7;
    width:200px;
    height:200px;
    margin:25px 0px;
}  
.three-col h3{
    color:#3F8DA7;
    font-weight: bold;
}
.three-col p {
    margin-bottom: 40px;
}
footer {
    background: #3F8DA7;
    color: white;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}
footer ul {
    margin: 40px 0;
  }
footer ul li {
    display: inline-block;
    margin: 0 25px;
}
footer ul li img{
    width:50px;
    height:50px;
}
.link{
    color: white;   
}
.link:hover {
    color: #92E0E5;
  }
  
    
  